week6/bookstore.dtd

<!ELEMENT bookstore (book+)>

<!-- Allow namespace attributes so DTD doesn't complain -->
<!ATTLIST bookstore
    xmlns:xsi CDATA #IMPLIED
    xsi:noNamespaceSchemaLocation CDATA #IMPLIED>

<!ELEMENT book (title, author, year, price)>
<!ATTLIST book category CDATA #REQUIRED>

<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT price (#PCDATA)>
